<!DOCTYPE html>
<html>
<head>
  <title>À propos - Transport Express</title>
  <link rel="stylesheet" href="../static/css/a_propos.css">
  <link rel="stylesheet" href="../static/css/menu_accueil.css">
</head>
<body>
  <!--------------------------NAV--------------------------------->
  <div class="container">
    <div class="menu">
      <ul>
        <li><a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237);" href="/menu_accueil">YakaTransport</a></li>
        <li><a href="/menu_accueil">Accueil</a></li>
        <li><a href="/aPropos">À propos</a></li>
      </ul>
    </div>
  </div>
  <!--------------------------FIN NAV--------------------------------->
  <main>

    <section class="section">
      <h1>Nos Services de Transport</h1>
      <p style="color: black;">Nous proposons une gamme complète de services de transport pour répondre à vos besoins . Que vous ayez besoin de livrer des marchandises à travers le pays ou d'organiser des transports internationaux, notre équipe expérimentée est là pour vous accompagner:transport de marchandises générales,mecanicien en tout lieu,chauffeur pour votre conduite,ransport de colis,Service de suivi en temps réel</p>
      
    </section>


    <div class="section-content">
      <section class="section">
        <div class="image-container">
          <img class="img1" src="../static/img/livreur.jpeg" alt="Service de livraison">
        </div>
        <div class="text-container">
          <h2>Livraison Rapide et Fiable</h2>
          <p>Nous offrons des services de livraison rapides et fiables pour répondre à vos besoins. Notre équipe expérimentée s'assure que vos colis arrivent à destination en toute sécurité et dans les délais impartis.</p>
        </div>
      </section>

      <section class="section">
        <div class="image-container">
          <img class="img2" src="../static/img/vtc_luxe.jpeg" alt="Service VTC">
        </div>
        <div class="text-container">
          <h2>VTC de Luxe</h2>
          <p>Nos chauffeurs VTC professionnels vous garantissent un service de transport de luxe. Que vous ayez besoin d'une course en ville ou d'un transfert vers l'aéroport, nous sommes là pour vous offrir une expérience confortable et agréable.</p>
        </div>
      </section>

      <section class="section">
        <div class="image-container">
          <img class="img2" src="../static/img/depot_dossier.jpeg" alt="Service VTC">
        </div>
        <div class="text-container">
          <h2>Demande d'emploi conducteur</h2>
          <p>Nos chauffeurs VTC professionnels vous garantissent un service de transport de luxe. Que vous ayez besoin d'une course en ville ou d'un transfert vers l'aéroport, nous sommes là pour vous offrir une expérience confortable et agréable.</p>
        </div>
      </section>

      <section class="section">
        <div class="image-container">
          <img class="img2" src="../static/img/signature_document.jpeg" alt="Service VTC">
        </div>
        <div class="text-container">
          <h2>Demande d'inscription mécanicien</h2>
          <p>Nos chauffeurs VTC professionnels vous garantissent un service de transport de luxe. Que vous ayez besoin d'une course en ville ou d'un transfert vers l'aéroport, nous sommes là pour vous offrir une expérience confortable et agréable.</p>
        </div>
      </section>
    </div>

    <section class="section_equipe_service">
      <h1>Notre Équipe</h1>
      <div class="team-member">
        <img src="../static/img/voitures.jpeg" alt="Membre de l'équipe">
        <h4>John Doe</h4>
        <p>Directeur des opérations</p>
      </div>
      <div class="team-member">
        <img src="../static/img/img_dg.png" alt="Membre de l'équipe">
        <h4>Aka Aménan Yasmine</h4>
        <p>DG de l'entréprise</p>
      </div>
      <div class="team-member">
        <img src="../static/img/livreur_moto.jpeg" alt="Membre de l'équipe">
        <h4>Robert Johnson</h4>
        <p>Chauffeur VTC</p>
      </div>
    
    </section>

    <section class="section_equipe_service">
      <h1>Valeur et service</h1>
      <div class="div_val_serv">
        <h2>Nos Valeurs</h2>
          <ul>
            <li>Engagement envers la satisfaction client</li>
            <li>Efficacité et ponctualité</li>
            <li>Respect de l'environnement</li>
            <li>Sécurité et fiabilité</li>
            <li>Équipe compétente et professionnelle</li>
          </ul>
      </div>

      <div class="div_val_serv">
        <h2>Nos Services</h2>
        <ul>
          <li>Livraison express nationale et internationale</li>
          <li>Transport de marchandises dangereuses</li>
          <li>Service VTC pour les particuliers et les entreprises</li>
          <li>Transport de colis et de palettes</li>
          <li>Service de suivi en temps réel</li>
        </ul>
      </div>
    </section>
  </main>
</body>
</html>
<footer>
  <div class="div_foot">
    <div class="footer-contact">
      <h3 class="h3_foot">Contact:0759152201</h3>
      <p class="p_foot">Adresse:Angré gestoci, Abidjan Côte d'ivoire</p>
      <p class="p_foot">Téléphone:0585825774</p>
      <p class="p_foot">Email:transport@gmail.com</p>
    </div>
    <div class="footer-menu">
      <h3 class="h3_foot">Menu</h3>
      <ul class="foot_ul">
        <li class="foot_li"><a class="a_foot" href="/menu_accueil">Accueil</a></li>
        <li class="foot_li"><a class="a_foot" href="/aPropos">À propos</a></li>
        <li class="foot_li"><a class="a_foot" href="#">conducteur</a></li>
        <li class="foot_li"><a class="a_foot" href="#">Demande de course</a></li>
        <li class="foot_li"><a class="a_foot" href="/depot_dossier">Dépot de dossier</a></li>
      </ul>
    </div>
    <div class="footer-newsletter">
      <h3 class="h3_foot">Recevoir les actualités</h3>
      <p class="p_foot">Inscrivez-vous à notre site pour recevoir les dernières mises à jour.</p>
      <form>
        <input class="foot_input" type="email" placeholder="Votre adresse e-mail" required>
        <button class="foot_button" type="submit">S'inscrire</button>
      </form>
    </div>
    <div class="footer-social">
      <h3 class="h3_foot">Suivez-nous</h3>
      <ul class="foot_ul">
        <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-facebook"></i></a></li>
        <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-instagram"></i></a></li>
        <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <p class="p_foot">&copy; 2023 Crypto_change. Tous droits réservés.</p>
    </div>
    <div class="footer-bottom-right">
      <ul class="foot_ul">
        <li class="foot_li"><a class="a_foot" href="#">Termes et conditions</a></li>
        <li class="foot_li"><a class="a_foot" href="#">Politique de confidentialité</a></li>
      </ul>
    </div>
  </div>
</footer>
