<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Page d'accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/accueil.css">


<div class="dashboard">
    <div class="menu scan-menu">
        <div class="menu-icon" style="background: white;">
            <i class="fas fa-home"></i>
        </div>
        <div class="menu-title">Accueil</div>
    </div>
    <div class="menu scan-menu">
        <div class="menu-icon" style="background: white;">
            <i class="fas fa-qrcode"></i>
        </div>
        <div class="menu-title">Scanner</div>
    </div>
   
    <div class="menu notification-menu" >
        <div class="menu-icon" style="background: white;">
            <i class="fas fa-bell"></i>
        </div>
        <div class="menu-title">Notifications</div>
    </div>
    
    <button class="logout-button">Déconnexion</button>
</div></a>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>