<!DOCTYPE html>
<html>
<head>
    <title>Page Administrateur</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/menu_accueil.css">
   
</head>
 <html>
    <body>
        <!--------------------------NAV--------------------------------->
      <div class="container">
    
        <div class="menu">
          <ul>
            <li><a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237);" href="/menu_accueil">YakaTransport</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="admin_livraison">Livraison</a></li>
            <li><a href="#">Mecaniciens</a></li>
            <li><a href="#">Chauffeur</a></li>
            <li style=" margin-left: 90%; bottom: 17px; position: relative; "><a href="login">Deconnexion</a></li>
          </ul>
        </div>



        <div class="bienvenue">
           <h1  style="color: rgb(21, 21, 100)"> Bienvenu sur votre page d'accueil Mr/Mme  {{"{}!".format(session['username'])}}</h1>
        </div>
        <div class="div_div">
          <div class="div">
            <h2><a href="">Dossier livreur</a></h2> 
          </div>
          <div class="div">
            <h2><a href="">Dossier mecanicien</a></h2>
           
          </div>
          <div class="div">
            <h2><a href="">Dossier chauffeur</a></h2>
           
          </div>
        </div>
        
    <body>


        <footer>
            <div class="div_foot">
              <div class="footer-contact">
                <h3 class="h3_foot">Contact:0759152201</h3>
                <p class="p_foot">Adresse:Angré gestoci, Abidjan Côte d'ivoire</p>
                <p class="p_foot">Téléphone:0585825774</p>
                <p class="p_foot">Email:transport@gmail.com</p>
              </div>
              <div class="footer-menu">
                <h3 class="h3_foot">Menu</h3>
                <ul class="foot_ul">
                  <li class="foot_li"><a class="a_foot" href="admin">Accueil</a></li>
                  <li class="foot_li"><a class="a_foot" href="aPropos">À propos</a></li>
                  <li class="foot_li"><a class="a_foot" href="#">conducteur</a></li>
                  <li class="foot_li"><a class="a_foot" href="#">Demande de livreur</a></li>
                  <li class="foot_li"><a class="a_foot" href="#">Dépot de dossier</a></li>
                </ul>   
              </div>
              <div class="footer-newsletter">
                <h3 class="h3_foot">Recevoir les actualités</h3>
                <p class="p_foot">Inscrivez-vous à notre site pour recevoir les dernières mises à jour.</p>
                <form>
                  <input class="foot_input" type="email" placeholder="Votre adresse e-mail" required>
                  <button class="foot_button" type="submit">S'inscrire</button>
                </form>
              </div>
              <div class="footer-social">
                <h3 class="h3_foot">Suivez-nous</h3>
                <ul class="foot_ul">
                  <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-facebook"></i></a></li>
                  <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-twitter"></i></a></li>
                  <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-instagram"></i></a></li>
                  <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-linkedin"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="footer-bottom">
              <div class="footer-bottom-left">
                <p class="p_foot">&copy; 2023 Crypto_change. Tous droits réservés.</p>
              </div>
              <div class="footer-bottom-right">
                <ul class="foot_ul">
                  <li class="foot_li"><a class="a_foot" href="#">Termes et conditions</a></li>
                  <li class="foot_li"><a class="a_foot" href="#">Politique de confidentialité</a></li>
                </ul>
              </div>
            </div>
          </footer>
</html>   
 

  <!-------------------------- FIN  NAV--------------------------------->



  <style>

.bienvenue {
  position: relative;
  background: linear-gradient(#ffffff, #9198e5);
  border: 1px solid #cccbcb;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 100px auto;
  max-width: 600px;

}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  
}

.div_div{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 70px auto;
}

.div {
  background: linear-gradient( #9198e5,#d9d7fa);

  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 30%;
}

h2 {
  color: #313131;
  font-size: 20px;
  margin-bottom: 10px;
  
}

a{
  color: rgb(46, 45, 45);
}


  </style>