<!DOCTYPE html>
<html>
<head>
  <title>Récapitulatif du formulaire</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Récapitulatif du formulaire</h1>

  <h2>Informations personnelles :</h2>
  <p><strong>Nom complet :</strong> {{ nom }}</p>
  <p><strong>Adresse :</strong> {{ adresse }}</p>
  <p><strong>Numéro de téléphone :</strong> {{ telephone }}</p>
  <p><strong>Adresse e-mail :</strong> {{ email }}</p>
  <p><strong>Date de naissance :</strong> {{ dateNaissance }}</p>

  <h2>Expérience :</h2>
  <p><strong>Expérience en tant que chauffeur :</strong> {{ experience }}</p>
  <p><strong>Formations complémentaires :</strong> {{ formation }}</p>

  <h2>Véhicule et disponibilité :</h2>
  <p><strong>Type de véhicule utilisé :</strong> {{ vehicule }}</p>
  <p><strong>Disponibilité :</strong> {{ disponibilite }}</p>

  <h2>Motivation :</h2>
  <p>{{ motivation }}</p>

  <h2>Pièces jointes :</h2>
  <p><strong>CV :</strong> <a href="{{ url_for('static', filename='uploads/' + cv) }}">Télécharger CV</a></p>
  <p><strong>Photo d'identité :</strong> <img src="{{ url_for('static', filename='uploads/' + photoIdentite) }}" alt="Photo d'identité"></p>
  <p><strong>Copie du permis de conduire :</strong> <a href="{{ url_for('static', filename='uploads/' + permis) }}">Télécharger permis</a></p>
</body>
</html>
