<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin mécanicien</title>
    <link rel="stylesheet" href="../static/css/demande_livraison.css">
</head>
<body >
    <div>
        <li style="list-style: none;"><a  style="margin: 10px; padding: 4px; top: 12px; position: relative; color: rgb(21, 21, 100);font-size: 20px; border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237);" href="{{url_for('admin')}}">YakaTransport</a></li> 
    </div>  
        <div class="div_rh1" >
            <div  class="div_rh2">
                <table class="tableau" id="crudTable">
                    <thead >
                        <tr>
                            <th>Nom complet</th>
                            <th>Adresse</th>
                            <th>Numero de téléphone</th>
                            <th>Adresse e-mail</th>
                            <th>Date de naissance</th>
                            <th>Avez-vous un garage auto?:</th>
                            <th>Formations complémentaires:</th>
                            <th>Compétences clés:</th>
                            <th>Disponibilité:</th>
                            <th>Motivation</th>
                            <th>Photo d'identité</th>
                            <th>Copie du diplôme </th>
                        </tr>  
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>  
                         

    <script src="../static/js/admin_mecanicien.js"></script>

</body>
</html>