<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/demande_livraison.css">

    <style>
       
    </style>
</head>
<body style="background: white">
    <div>
        <li style="list-style: none;"><a  style="text-decoration: none; margin: 10px; padding: 4px; top: 12px; position: relative; color: rgb(21, 21, 100);font-size: 20px; border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237);" href="{{url_for('admin')}}">YakaTransport</a></li> 
    </div>  
        <div class="div_rh1" >
            <div  class="div_rh2">
                <table class="tableau" id="crudTable">
                    <thead >
                        <tr>
                            <th>Date de collecte</th>
                            <th>Numero de ramassage</th>
                            <th>Lieu de ramassage</th>
                            <th>Numero du beneficiaire</th>
                            <th>Commune du beneficiaire</th>
                            <th>Montant:</th>
                            <th>Contact du dépot:</th>
                        </tr>  
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>                   

    <script src="../static/js/demande_livraison.js"></script>

</body>
</html>