<!DOCTYPE html>
<html>
<head>
  <title>Page de Connexion</title>
  <link rel="stylesheet" type="text/css" href="../static/css/inscription.css">
</head>
<body>
  <div class="container">
    <div class="logo-container">
      <ul style="list-style: none;"><li><a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237); " href="/menu_accueil">YakaTransport</a></li></ul>
    </div>
    <hr>
    <div class="form-container">
      <h2>Inscription</h2>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <form action="{{ url_for('inscription') }}" method="POST">

        <div class="form-group">
          <label for="name">Nom:</label>
          <input type="text" id="name" name="name" placeholder="Entrez votre nom" required>
        </div>

        <div class="form-group">
          <label for="email">Téléphone:</label>
          <input type="phone" id="phone" name="phone" placeholder="Entrez votre numero de telephone" required>
        </div>

        <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
        </div>

        <input type="submit" value="S'inscrire">
        <p><a href="{{url_for('connexion')}}" class="btn btn-primary btn-block">Connexion</a></p>
      </form>
     
    </div>
  </div>
</body>
</html>



