<!DOCTYPE html>
<html>
<head>
  <title>Page de Connexion</title>
  <link rel="stylesheet" type="text/css" href="../static/css/inscription.css">
</head>
<body>
  <div class="container">
    <div class="logo-container">
      <ul style="list-style: none;"><li><a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237); " href="../templates/menu_accueil.html">YakaTransport</a></li></ul>
    </div>
    <hr>
    <div class="form-container">
      <h2>Inscription</h2>
      <form>
        <div class="form-group">
          <label for="email">Email\Numéro de téléphone:</label>
          <input type="email" id="email\telephone" placeholder="Entrez votre email" required>
        </div>
        <div class="form-group">
          <label for="password">Mot de passe:</label>
          <input type="password" id="password" placeholder="Entrez votre mot de passe" required>
        </div>
        <input type="submit" value="S'inscrire">
      </form>
     
    </div>
  </div>
</body>
</html>



