<!DOCTYPE html>
<html>
<head>
    <title>Dashboard - Accueil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/menu_accueil.css">
   
</head>
 <html>
    <body>
        <!--------------------------NAV--------------------------------->
      <div class="container">
    
        <div class="menu">
          <ul>
            <li><a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237);" href="#">YakaTransport</a></li>
            <li><a href="#">Accueil</a></li>
            <li><a href="/aPropos">À propos</a></li>
          </ul>
        </div>
        
        <div class="content">
          <h2>Bienvenue sur notre site de transport ! Nous sommes ravis de vous accueillir et de vous accompagner dans tous vos déplacements.</h2>
        </div>
        
        <div class="buttons"  >
          <button><a style="text-decoration: none; color: white;" href="{{url_for('inscription')}}">Inscription</a> </button>
          <button><a style="text-decoration: none; color: white;" href="{{url_for('connexion')}}">Connexion</a></button>
        </div>
      </div>
   
  <!-------------------------- FIN  NAV--------------------------------->


  
    <div class="content" style="text-align: center;">
        <a href="../templates/depot_dossier.html"><div class="content-item">
            <h2 class="content-title">Conducteur</h2>
            <p class="content-text">Vous êtes en quête d'un conducteur experimenté pour votre vehicule?Et bien vous êtes au bon endroit</p>
        </div></a>
        <a href="../templates/depot_dossier.html"><div class="content-item">
            <h2 class="content-title" >Mecanicien</h2>
            <p class="content-text">Vous avez une panne concernant votre vehicule? c'est le momennt de faire appel à un experimenté d'ici</p>
        </div></a>
        <a href="../templates/depot_dossier.html"><div class="content-item">
            <h2 class="content-title">Demande de course</h2>
            <p class="content-text">Ici vous avez à votre disposition des vehicules et conducteur pour vos course</p>
        </div></a>
        <a href="../templates/depot_dossier.html"><div class="content-item">
            <h2 class="content-title">Dépot de dossier</h2>
            <p class="content-text">Etes vous en quête d'emploi dans le domaine du transport: dépose tes dossiers ici</p>
        </div></a>
         


    <!-- slice -->

        <div class="slider">
            <img class="slide" src="../static/img/chauffeur-accompagnateur.jpeg" alt="Image 1">
            <img class="slide" src="../static/img/Depot-dossier-facilite__-coronavirus.jpeg" alt="Image 2">
            <img class="slide" src="../static/img/livreur.jpeg" alt="Image 3">
            <img class="slide" src="../static/img/mecanicien.jpeg" alt="Image 4">
            <img class="slide" src="../static/img/voitures.jpeg" alt="Image 5">
            <img class="slide" src="../static/img/livreur_moto.jpeg" alt="Image 6">
            <img class="slide" src="../static/img/chauffeur-accompagnateur.jpeg" alt="Image 1">
            <img class="slide" src="../static/img/chauffeur-accompagnateur.jpeg" alt="Image 1">
        </div>

    </div>

  

    <!-- footer -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
<footer>
    <div class="div_foot">
      <div class="footer-contact">
        <h3 class="h3_foot">Contact:0759152201</h3>
        <p class="p_foot">Adresse:Angré gestoci, Abidjan Côte d'ivoire</p>
        <p class="p_foot">Téléphone:0585825774</p>
        <p class="p_foot">Email:transport@gmail.com</p>
      </div>
      <div class="footer-menu">
        <h3 class="h3_foot">Menu</h3>
        <ul class="foot_ul">
          <li class="foot_li"><a class="a_foot" href="#">Accueil</a></li>
          <li class="foot_li"><a class="a_foot" href="#">À propos</a></li>
          <li class="foot_li"><a class="a_foot" href="#">conducteur</a></li>
          <li class="foot_li"><a class="a_foot" href="#">Demande de course</a></li>
          <li class="foot_li"><a class="a_foot" href="#">Dépot de dossier</a></li>
        </ul>
      </div>
      <div class="footer-newsletter">
        <h3 class="h3_foot">Recevoir les actualités</h3>
        <p class="p_foot">Inscrivez-vous à notre site pour recevoir les dernières mises à jour.</p>
        <form>
          <input class="foot_input" type="email" placeholder="Votre adresse e-mail" required>
          <button class="foot_button" type="submit">S'inscrire</button>
        </form>
      </div>
      <div class="footer-social">
        <h3 class="h3_foot">Suivez-nous</h3>
        <ul class="foot_ul">
          <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="foot_li"><a class="a_foot" href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">
        <p class="p_foot">&copy; 2023 Crypto_change. Tous droits réservés.</p>
      </div>
      <div class="footer-bottom-right">
        <ul class="foot_ul">
          <li class="foot_li"><a class="a_foot" href="#">Termes et conditions</a></li>
          <li class="foot_li"><a class="a_foot" href="#">Politique de confidentialité</a></li>
        </ul>
      </div>
    </div>
  </footer>
</html>
