<!-- <form>
    <div>
      <label for="telNo">Veuillez saisir un numéro de téléphone (au format xx xx xx xx xx) :</label>
      <input id="telNo" name="telNo" type="tel" required
             pattern="[0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}">
      <span class="validity"></span>
    </div>
    <div>
      <button>Envoyer</button>
    </div>
  </form>
   -->

   <div class="tab">
    <ul>
    <li>
        <a style="color: rgb(21, 21, 100); border: 1px solid; box-shadow: 1px 1px 1px; background: rgb(212, 212, 237); vertical-align: middle;" href="/menu_accueil">ZE</a>
    </li>
    </ul>
    <button class="tablinks active" onclick="openTab(event, 'tab1')">Chauffeur personnel</button>
    <button class="tablinks" onclick="openTab(event, 'tab2')">Livreur à moto</button>
    <button class="tablinks" onclick="openTab(event, 'tab3')">Chauffeur de vtc</button>
    <button class="tablinks" onclick="openTab(event, 'tab4')">Mécanicien</button>
  </div>
   <style>
.tab {
  overflow: hidden;
  background-color: rgb(182, 182, 239);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  border-radius: 15px 15px 0 0;
  transition: 0.3s;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.tab button:hover {
  background-color: white;
}

.tab button.active {
  background-color: white;
  border-bottom: 2px solid rgb(130, 130, 248);
}

   </style>